<div class="row">
  <div class="col-4">
    <div class="mb-3 mt-5">
      <%= form_tag(recipes_path, method: :get) do %>
        <%= label_tag :filter, 'Filter Field', class: 'form-label' %>
        <%= select_tag :filter, options_for_select(search_filters, selected: @filter), class: 'form-select form-select-sm mb-3', autofocus: true %>
        <%= label_tag :terms, 'Search Field', class: 'form-label' %>
        <%= text_field_tag :terms, {}, class: 'form-control mb-3', placeholder: 'Type something here...' %>
        <%= submit_tag 'Bring me dishes', class: 'btn btn-primary mb-3' %>
      <% end %>
    </div>
  </div>
  <div class="col-8">
    <% unless @recipes.class == Array %>
      <div class="row">
        <div class="col d-flex justify-content-center">
          <div class="mb-3 mt-5">
            <%= paginate @recipes %>
          </div>
        </div>
      </div>
    <% end %>
    <% @recipes.each do |recipe| %>
      <div class="row">
        <div class="col">
          <div class="card mb-3">
            <div class="row">
              <div class="col-4">
                <img src="<%= recipe.image %>" class="img-fluid rounded-start" alt="">
              </div>
              <div class="col-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= link_to recipe.name, recipe_path(id: recipe.id) %>
                    <span class="badge bg-warning text-dark"><%= recipe.rate %></span>
                  </h5>
                  <p class="card-text"><%= recipe_words(recipe.tags) %></p>
                  <p class="card-text"><small class="text-muted">Ready to eat in: <%= recipe.total_time %></small></p>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    <% end %>
  </div>
</div>





